
html, body {
  margin: 0;
  min-height: 100%;
  background: linear-gradient(130deg, #6d218b, #217e8a, #ff1e8f);
}

:host {
  display: block;
  min-height: 100vh;
  padding: 30px;
  color: rgb(13, 187, 255);
  font-family: 'Segoe UI', sans-serif;
}


h2 {
  text-align: center;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 30px;
  color: #a901f7;
  text-shadow: 0 0 10px black;
}


form {
  max-width: 600px;
  margin: auto;
  padding: 25px;
  border-radius: 25px;
  background: linear-gradient(145deg, #1c1c1c, #2c2c2c);
  box-shadow: 0 0 20px rgba(0,0,0,0.8);
}


input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #111;
  color: #fff;
  box-shadow: inset 0 0 8px #000;
}

input::placeholder {
  color: #aaa;
}


form button {
  width: 100%;
  padding: 12px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  background: linear-gradient(135deg, #d614dd, #6b1ecf);
  color: black;
  transition: 0.3s;
}

form button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px #1992f5;
}


hr {
  border: none;
  height: 2px;
  background: linear-gradient(to right, transparent, #f3f3f2, transparent);
  margin: 40px 0;
}


table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 20px;
  overflow: hidden;
  background: #111;
  box-shadow: 0 0 20px rgba(0,0,0,0.9);
}

th {
  background: black;
  color: #9121db;
  padding: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

td {
  padding: 12px;
  text-align: center;
  color: white;
}

tr:nth-child(even) {
  background-color: #1a1a1a;
}


td button {
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  margin: 2px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s;
}


td button:first-child {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: white;
}


td button:last-child {
  background: linear-gradient(135deg, #ff416c, #ff0000);
  color: white;
}

td button:hover {
  transform: scale(1.1);
}


@media (max-width: 768px) {
  form, table {
    font-size: 14px;
  }

  td, th {
    padding: 8px;
  }
}
